@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Yrsa");
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-y: hidden;
  background: #f2f2f2;
}

canvas {
  width: 256px;
  height: 256px;
}

div#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 103px;
}

div#container .head {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 150%;
  margin: 32px;
  letter-spacing: 2px;
}

div#container .head::before, div#container .head::after {
  content: attr(data-head);
  mix-blend-mode: multiply;
  display: inline-block;
}

div#container .head::before {
  transform: translateX(49%);
  color: red;
}

div#container .head::after {
  transform: translateX(-49%);
  color: cyan;
}
